<html>

  <head></head>
  <body>
    <table width="100%" align="center" border="0" cellpadding="0" cellspacing="0"> 
      <tbody><tr> 
       <!-- <td class="bar" width="20%" align="center" nowrap=""> 
         &nbsp; 
       </td>  -->
       <td class="topbar"  width="50%" align="center" nowrap="" id="titulo"> 
           <!-- <a href="https://aleph.ups.edu.ec/F/S3NNKCD63D5LEURQGIL625DA8T6IFLUPHPND71F792EJGBJX7A-17705?func=find-b-0" title="Búsqueda básica" class="blue"> 
              Búsqueda básica</a>  -->
            <p>
              BUSQUEDA MP3
            </p>
       </td> 
      </tr> 
     </tbody></table>
  </body>
  <div class="title">Busqueda basica </div>
  <table cellspacing="2" border="0" cellpadding="0" width="100%">
  <tbody>
    <tr>
      <td class="td2" width="20%" nowrap=""> 
        Escriba una palabra o frase 
      </td>
      <td class="td2" id="small"> 
        <input size="40" name="request" value=""> 
      </td>
    </tr>
    <tr>
      <td class="td2" valign="top" nowrap="">Campo de búsqueda 
      </td>
      <td class="td2" id="small"> 
        <select name="find_code"> 
          <option value="WRD">Todos los campos</option> 
          <option value="WTI">Palabras en título</option> 
          <option value="TIT">Título exacto</option> 
          <option value="WAU">Autor</option> 
          <option value="WSU">Genero</option> 
          <option value="WD1">Área temática 1</option> 
          <option value="WD2">Área temática 2</option> 
          <option value="WSR">Palabras en la serie</option> 
          <option value="BAR">Código de cancion</option> 
          <option value="SUD">No.Volumen</option>
          
        </select> 
         
      </td>

    </tr>
    <tr>
      <td class="td2" title="Palabras que esten seguidas"> 
        Palabras adyacentes? 
      </td>
      <td class="td2">
        <input type="radio" name="adjacent" checked="" value="N"> No 
        <input type="radio" name="adjacent" value="Y"> Si 
      </td>
    </tr>
    <tr>
      <td class="td2" valign="top" nowrap="" title="Grupos creados para mejor busqueda">Coleccion
      </td>
      <td class="td2" id="small"> 
        <select name="find_code"> 
          <option value="ANY">Cualquiera</option> 
          <option value="IND">Independientes</option> 
          <option value="TRD">Tradicionales</option> 
          <option value="ART">Bandas artísticas</option> 
          <option value="EMP">Empresarial</option> 
          <option value="AMB">Ambiental</option>
          
        </select> 
         
      </td>
    </tr>
    <tr> 
      <td class="td2" colspan="2" valign="middle" align="left" nowrap=""> 
        <a href="#" class="myButton">Enviar</a>
        <a href="#" class="myButton">Limpiar</a>
      </td> 
     </tr>
  </tbody>
  </table>
  <hr>
  <!-- Seccion de busqueda especifica -->
  <p class="text3" id="small">Limitantes de busqueda</p>
  <table cellspacing="2" border="0" width="100%"> 
    <tbody><tr> 
     <td class="td2" id="small" width="10%" nowrap="" valign="top"> 
         Idioma: 
         <input type="hidden" name="filter_code_1" value="WLN"> 
     </td> 
     <td class="td2" id="small" valign="top"> 
         <select name="filter_request_1"> 
           <option value="">Todos</option> 
           <option value="SPA">Español</option> 
           <option value="ENG">Inglés</option> 
           <option value="FRE">Francés</option> 
           <option value="GER">Alemán</option> 
         </select> 
     </td> 
     <td class="td2" id="small" width="10%" nowrap="" valign="top"> 
         Del año: 
         <input type="hidden" name="filter_code_2" value="WYR"> 
     </td> 
     <td class="td2" id="small" valign="top"> 
        <input type="text" size="10" name="filter_request_2" value=""> 
     </td> 
     <td class="td2" id="small" width="10%" nowrap="" valign="top"> 
        Al año: 
        <input type="hidden" name="filter_code_3" value="WYR"> 
     </td> 
     <td class="td2" id="small" valign="top"> 
        <input type="text" size="10" name="filter_request_3" value=""> 
              <span class="text1">aaaa (Utilice ? para truncar cuando no utilice Del/Al)</span> 
     </td> 
    </tr> 
    <tr> 
     <td class="td2" id="small" valign="top"> 
         Formato: 
         <input type="hidden" name="filter_code_4" value="WFM"> 
     </td> 
     <td class="td2" id="small" valign="top"> 
         <select name="filter_request_4"> 
           <option value="">Todos</option> 
           <option value="BK">Libros</option> 
           <option value="SE">Publicaciones Seriadas</option> 
           <option value="MU">Música</option> 
           <option value="MP">Mapas</option> 
           <option value="CF">Archivos de computadora</option> 
           <option value="VM">Materiales visuales</option> 
           <option value="MX">Materiales mixtos</option> 
         </select> 
     </td> 
     <td class="td2" id="small" valign="top"> 
         Biblioteca: 
          <input type="hidden" name="filter_code_5" value="WSL"> 
     </td> 
     <td class="td2" id="small" valign="top" colspan="3"> 
         <select name="filter_request_5"> 
           <option value="">Todas</option> 
           <option value="UPSQG">Bib. Italo Gastaldi (Girón)</option> 
           <option value="UPSQS">Bib. Sur (Sur de Quito)</option> 
           <option value="UPSQC">Bib. Cayambe</option> 
           <option value="UPSAY">Bib. Abya Yala</option> 
           <option value="UPSCV">Bib. General sede Cuenca</option> 
           <option value="UPSGC">Bib. Guayaquil Centenario</option> 
           <option value="UPSGC">Bib. Gye. María Auxiliadora</option> 
   
           <option value="UPSEL">Bib. En Linea</option> 
         </select> 
     </td> 
    </tr> 
   </tbody></table>
</html>